@using Microsoft.AspNetCore.Identity
@using Book.Models
@inject UserManager<UserModel> _userManager
@model WriteBookVm
@{
    var GetCategoryMaster = ViewData["GetCategoryMaster"] as IEnumerable<GetCategoryMasterVm>;
var getUser = await _userManager.GetUserAsync(User);
    }
<h1 class="text-center">เพิ่มนิยายเรื่องใหม่</h1>
<form id ="FormBook" asp-action="Writer" method="post">
<div class="form-book">
<div class="row">
<div class="col-4">
<input type="hidden" asp-for="MyUserId" value="@getUser.Id"/>
<div class="form-group book-control">
<label asp-for="BookName" class="form-control"></label>
<input asp-for="BookName" class="form-control" required />
</div>
<div class="form-group book-control">
<label asp-for="ShortDescription" class="form-control"></label>
<input asp-for="ShortDescription" class="form-control" required />
</div>
<div class="form-group book-control">
<label asp-for="Publish" class="form-control"></label>
<input asp-for="Publish" class="form-control" />
</div>
<p>
<h1 class="text-center">เลือกหมวดหมู่</h1>
                @if (GetCategoryMaster.Count() > 0)
                {
                    @foreach (var item in GetCategoryMaster)
                    {
                        <div class="form-group book-control">
                        <label class="form-control">
                        <input type="checkbox" class="form-control" id="bcat-1" name="CategoryId" value="@item.Id" />
                        @item.Name
                        </label>
                        </div>
                    }
                }
                </p>
<p>
<input id="SubmitBook" class="btn btn-success" type="submit" value="เพิ่มหนังสือ" />
</p>
</div> @* end col *@
</div>
</div>
</form>
<style type="text/css">
.form-book{
    background-color:deeppink;
    width:100px;
height:120px;
    border:2px solid gre;
    position:fixed;
    top:auto;
    right:100px;
    left:auto;
    }
    .book-control{
        background-color: deepskyblue;
        width:70px;
        height:70px;
        border:2px solid deeppink;
        }
</style>
@section Scripts{
    <script>
        $(document).ready(function(){
      $("#FormBook").submit(function(event){
var BookData = $("#FormBook").serialize();
console.error(BookData);
          $.ajax({
              type:"post",
              data: BookData,
              dataType:"json",
              url:"@Url.Action("Writer")",
              headers:{
                  Authorization: "Bearer " + "@Context.Request.Cookies["AccessToken"]"
                  },
                  
                  success:function(data,textStatus,xhr){

                      console.log(textStatus + "ff " + xhr.status);
                     
                      },
              error:function(e){
                  if(e.status == 400){
      AlertError(e.responseJSON.message);               
                      } //end if
                  }
              });
          event.preventDefault();
          }); //end funtion.SubmitBook.click
            }); //end page ready
        </script>
    } 